h3 {
    font-size: 40px;
    background-color: aquamarine;
    color: red;
}

h2 {
    font-size: 40px !important;
    background-color: pink !important;
    color: white !important;
}

.t_transfrom_upper {
    text-transform: uppercase;
}

.t_transfrom_lower {
    text-transform: lowercase;
}

.t_transfrom_captalize {
    text-transform: captalize;
}

.t_transfrom_upper {
    text-transform: uppercase;
}

.t_transfrom_lower {
    text-transform: lowercase;
}

.t_transfrom_capitalize {
    text-transform: capitalize;
}

.t_decor_line {
    text-decoration: line-through overline underline;
}

.t_right {
    text-align: right;
}

.t_center {
    text-align: center;
}

.t_shadow {
    color: palegoldenrod;
    text-shadow: 5px 5px 10px gold;
    font-size: 40px;
    text-align: center;
}

.t_indent {
    text-indent: 160px;
}

.letter_space {
    letter-spacing: 10px;
}

.word_space {
    word-spacing: 30px;
}

.line_height {
    line-height: 25px;
}

.t_shadow {
    color: blue;
    text-shadow: 5px 5px 10px red;
    font-size: 50px;
    text-align: center;
}

#t_color {
    color: blue;
}

#t_size {
    font-size: 150px;
}

.t_color {
    color: brown;
}

.t_size {
    font-size: 50px;
}

.t_shadow {
    font-size: 50px;


}

.b_shadow {
    box-shadow: 10px 10px 10px;
}

.img_ratio {
    width: 400px;
    height: 400px;
}

.d_shadow {
    filter: drop-shadow(3px 4px 4px blue)
}

.b_prop {
    border: 13px double yellowgreen;
}


.b_radius {
    border-radius: 30px;
    border-top-left-radius: 70px;
    border-top-right-radius: 50px border-bottom_right-radius: 40px border-bottom_left-radius: 30px
}

/* solid,
dashed,
dotted,
double,
inset,
outset  */
.b_prop {
    border: 10px double yellowgreen;
}

.b_radius {
    border-radius: 10px;
    border-top-left-radius: 70px;
    border-top-right-radius: 50px border-bottom_right-radius: 40px border-bottom_left-radius: 30px
}

.b_color {
    border: 8px double red;
     border-top-color: blue;
            border-right-color: aqua;
            border-bottom-color: bisque;
            border-left-color: blueviolet; 
    border-color: blue greenyellow black pink;
}

.para1{
            border: 3px solid red;
        }
        .para2{
            border: 3px solid red;
            padding: 40px;
            margin: 60px;
        }
        .para3{
            border: 3px solid rgb(4, 3, 3);
            padding-left: 50px;
             padding-right: 50px;
              padding-top: 50px;
               padding-bottom: 50px;
            
        }
        .box {
            width: 150px;
            height: 150px;
            background-color: aqua;
            border: 2px solid red;
            margin-bottom: 20px;
        }

        .box1 {
            position: static;
            
        }

        .box2 {
            position: relative;
            left: 300px;
            top: 20px;
        }

        .box3 {
            position: absolute;
            left: 300px;
            top: 20px;
        }

        .box4 {
            position: sticky;
            top: 0;
        }

        .box5 {
            position: fixed;
            right: 10px;
            bottom: 0;
        }
         body {
            background-color: black;
            background-image: url(Images/Rose);
            background-repeat: no-repeat;
            background-size: cover;
            /* background-position: center; */

        }
            div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: rgb(233, 238, 238);
            margin-bottom: 40px;
        }

        .linear {
            height: 300px;
            background: linear-gradient( red,white);
        }
        .radial{
            height: 700px;
            background: radial-gradient(circle,red,rgb(72, 13, 13),rgb(214, 66, 187),yellow);


        }
        .conic{
            height: 700px;
            background: conic-gradient(from 90deg,red,rgb(72, 13, 13),rgb(81, 31, 155),yellow);
            
        }
        .flex-items {
            background-color: blueviolet;
            width: 200px;
            height: 200px;
            margin: 20px;
            color: azure;
            font-size: 50px;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: rgb(233, 238, 238);
            margin-bottom: 40px;
        }

        .linear {
            height: 300px;
            background: linear-gradient( red,white);
        }
        .radial{
            height: 700px;
            background: radial-gradient(circle,red,rgb(72, 13, 13),rgb(214, 66, 187),yellow);


        }
        .conic{
            height: 700px;
            background: conic-gradient(from 90deg,red,rgb(72, 13, 13),rgb(81, 31, 155),yellow);
            
        }
          .box {
            width: 150px;
            height: 150px;
            background-color: aqua;
            border: 2px solid red;
            margin-bottom: 20px;
        }

        .box1 {
            position: static;
            
        }

        .box2 {
            position: relative;
            left: 300px;
            top: 20px;
        }

        .box3 {
            position: absolute;
            left: 300px;
            top: 20px;
        }

        .box4 {
            position: sticky;
            top: 0;
        }

        .box5 {
            position: fixed;
            right: 10px;
            bottom: 0;
        }
         body {
            background-color: black;
            background-image: url(Images/Rose);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }

        h1 {
            color: beige;
        }
         p {
            font-size: 20px;
        }

        .f_family {
            font-family: monospace;
            font-weight: 900;
        }

        .f_family2 {
            font-family: cursive;

        }

        .f_family3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
